@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-3 pr-0 pl-0">
           <AuthorizeView>
                <Authorizing>
                    <MudItem style="text-align: center;">
                        <MudImage style="margin:auto; display:block; width:50%; padding-top:100px;" src="img/loading.gif" />
                    </MudItem>
                </Authorizing>
                <Authorized>
                    <div class="content px-4">
                        @Body
                    </div>
                </Authorized>
                <NotAuthorized>
                    <RedirectToLogin></RedirectToLogin>
                </NotAuthorized>
            </AuthorizeView>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    
}